/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! CUSTOM PROPERTIES */
:root{
    --menubar-bg-color: #000000;
    --hdr-bg-color: #080b12;
    --footer-bg-color: #282828;
    --main-bg-color: #141922;
    --menubar-text-gray: #ffffff60;


    --hdr-ftr-height: 100px;
    --menubar-lg-width: 250px;
    --menubar-xs-width: 50px;
}

/* ! GENERALS */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color:white;
}

h2{
    margin: 20px 0;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

#upper-screen{
    height: calc(100vh - var(--hdr-ftr-height));
}

#right-content{
    max-width: calc(100% - var(--menubar-xs-width));
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--menubar-text-gray);
    border-radius: 5px;
}

main::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0,0,0,.5);
}

/* ! UTILITIES */
.svg-gray{
    filter:invert(.4)
}

.text-gray{
    color: var(--menubar-text-gray);
}

.c-pointer{
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.text-align-center{
    text-align: center;
}

.round-img{
    border-radius: 50%;
}

/* # flex utilities */
.d-flex{
    display: flex;
}

.d-flex.flex-column{
    flex-direction: column;
}

.d-flex.f-wrap{
    flex-wrap: wrap;
}

.d-flex.justify-start{
    justify-content: flex-start;
}

.d-flex.justify-center{
    justify-content: center;
}

.d-flex.justify-end{
    justify-content: flex-end;
}

.d-flex.justify-space-between{
    justify-content: space-between;
}

.d-flex.align-start{
    align-items: flex-start;
}

.d-flex.align-center{
    align-items: center;
}

.d-flex .flex-grow{
    flex-grow: 1;
}

.d-flex .flex-srhink{
    flex-shrink: 1;
}

.d-flex .flex-gap10{
    gap: 10px;
}

.d-flex .flex-gap20{
    gap: 20px;
}

/* # margins and paddings */
.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}

.mr-10{
    margin-right: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-10{
    margin-left: 10px;
}

/* # buttons */
.btn{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    font-weight: bold;
}

/* ! HEADER */
header{
    background-color: rgba(0,0,0,.5);

    position: sticky;
    left: 0;
    top: 0;
    width: 100% ;
    height: var(--hdr-ftr-height);
    z-index: 1;

    padding-right: 10px;
}

header .btn:hover{
    transform: scale(1.05);
}

/* ! MENUBAR */
#left-menubar{
    background-color: var(--menubar-bg-color);
    flex: 0 0 var(--menubar-xs-width);
    height: 100%;

    overflow-y: hidden;

    padding: 15px;
}

#left-menubar > *{
    width: 100%;
}

#menubar-nav img{
    width: 30px;
}

#menubar-nav li{
    margin-bottom: 5px;
}

#menubar-nav li:first-child{
    border-left: 2px solid yellowgreen;
    border-right: 2px solid transparent;
    margin-left: -13px;
    padding-left: 10px;
}

/* #Playlist */
#playlist-list{
    min-height: 50px;
    overflow-y: auto;
}

.playlist div:first-child{
    color: white;
    font-weight: bold;
}

#playlist-list li{
    margin-bottom: 10px;
}

.add-playlist .plus-simbol{
    color: black;
    width: 35px;
    height: 35px;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--menubar-text-gray);
    margin-right: 10px;
}

#left-menubar .c-pointer:hover{
    color: white;
}

#left-menubar .c-pointer:hover .svg-gray{
    filter: invert(0);
}

#left-menubar .c-pointer:hover .plus-simbol{
    background-color: #fff;
}

/* # download and profile */
#left-menubar .download-icon{
    width: 15px;
}

#left-menubar .profile-icon-background{
    width: 20px;
    height: 20px;
    background-color: var(--menubar-text-gray);
    border-radius: 50%;
    overflow: hidden;
}

/* ! MAIN */
main{
    background-color: var(--main-bg-color);
    overflow-y: auto;
    height: calc(100vh - var(--hdr-ftr-height));
}

main section{
    padding: 30px;
}

#contents-navbar li{
    font-size: .7rem;
    transition: color 300ms;
}

#contents-navbar .c-pointer:hover{
    color: white;
}

#contents-navbar li:first-of-type{
    position: relative;
}

#contents-navbar li:first-of-type::before{
    position: absolute;
    content: '';
    display: inline-block;
    height: 3px;
    background-color: yellowgreen;
    width: 33%;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);

}

main .flex-container{
    margin: 0 -10px;
    max-width: 600px;
}

main .d-flex > .flex-item{
    flex: 0 0 50%;
    padding: 10px;
}

main .flex-item .album-cover{
    position: relative;
}

main .album-cover:hover::after{
    display: inline-block;
    content: '\f144';
    font: var(--fa-font-regular);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: rgba(0,0,0,.75);
    opacity: 1;
}

main .round-album:hover::after{
    border-radius: 50%;
}

/* ! FOOTER */
footer#player-controls{
    background-color: var(--footer-bg-color);
    height: var(--hdr-ftr-height);

    padding: 10px;

    font-size: .8rem;
}

footer > *{
    flex: 0 1 calc(100% / 3);
    height: 100%;
}

/* # song details */
 .song-details .album-cover{
    width: 55px;
    height: 55px;
}

footer .song-details .fa-regular{
    padding: 3px;
}

footer .song-name:hover{
    color: white;
    text-decoration: underline;
}

footer .song-details .fa-regular:hover{
    color: white;
}


/* # controls */
footer .control-buttons i:hover{
    transition: text-shadow 300ms;
}

footer .control-buttons i:hover{
    text-shadow: 0 0 5px white;
}

footer .control-buttons .fa-circle-play:hover{
    transform: scale(1.05);
}

footer .progress-bar{
    width: 75%;
    height: 3px;
    background-color: var(--menubar-text-gray);
    border-radius: 2px;
    margin: 10px 10px;

    position: relative;
}

footer .progress-bar .played{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
}

footer .progress-bar:hover .played{
    background-color: yellowgreen;
}

footer .progress-bar:hover .played::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

footer .minutes{
    font-size: .6rem;
    user-select: none;
}

/* # volume controls */
footer .progress-bar.volume-bar{
    width: 15%;
}

footer .progress-bar.volume-bar .played{
    width: 50%;
}

footer .volume-icons > *{
    padding: 5px;
}

/* ! RESPONSIVE */
.tablet{
    display: none;
}

@media screen and (min-width: 640px) {
    main .flex-container{
        max-width: 760px;
    }

    #left-menubar{
        flex-basis: var(--menubar-lg-width);
    }

    .tablet{
        display: inline-block;
    }

    .tablet.d-flex{
        display: flex;
    }

    .smartphone{
        display: none;
    }

    .smartphone.d-flex{
        display: block
    }

    #left-menubar .logo{
        width: 75%;
    }

    #left-menubar .download{
        border-bottom: 1px solid var(--menubar-text-gray);
        padding-bottom: 5px;
    }

    footer .song-name-and-author{
        padding: 0 20px;
    }
}

/* # tablet */
@media screen and (min-width: 768px) {
    main .flex-container{
        max-width: 980px;
    }

    main .d-flex > .flex-item{
        flex: 0 0 25%;
    }
}

/* # laptop */
@media screen and (min-width: 992px) {
    main .flex-container{
        max-width: 1400px;
    }

    main .d-flex > .flex-item{
        flex: 0 0 calc(100% / 6);
    }
}